extends ../layout/basic.jade
append js
  script(src="#{_base}/js/accountbooknew.js")

block content
  .row-content.am-cf
    input(type="hidden",name="userid",value="#{currentUser.id}")
    input(type="hidden",name="familyid",value="#{currentUser.choosedFamily.id}")
    input(type="hidden",name="baseUrl",value="#{_base}")
    .row
      .am-u-sm-12.am-u-md-12.am-u-lg-12
        .widget.am-cf
          //- .widget-head.am-cf
          //-   .widget-title.am-fl 每日一记
            //- .widget-function.am-fr
              a.am-icon-cog(href="javascript:;")
          .widget-body.am-fr
            form.am-form.tpl-form-line-form(action="#{_base}/backend/accountBook/update",method="post")
              .am-form-group
                label.am-u-sm-3.am-form-label 支出/收入
                .am-u-sm-6
                  .tpl-switch
                    input.ios-switch.bigswitch.tpl-switch-btn(type="checkbox")
                    .tpl-switch-btn-view
                      div
                  input(type="hidden",name="recordType",value="支出")
                .am-u-sm-3
                  span#classifyInfo 支出
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 分类
                  //- span.tpl-form-line-small-title classify
                .am-u-sm-9
                  select.cf-select(data-am-selected="{searchBox:2}",style="display:none",name="classifyName",required,value="#{accountBook.classifyName}")
                //- .am-u-sm-3
                //-   button#addClassifyBtn.am-btn.am-btn-warning.am-btn-sm.tpl-btn-bg-color-warning(type="button")
                //-     i.am-icon-plus.mr-5
                //-     | 新增分类
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 费用
                .am-u-sm-9
                  input.tpl-form-input(type="number",name="price",required,value="#{accountBook.price}")
                  small 请豪气地写下巨款~~~
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 时间
                .am-u-sm-9
                  input.am-form-field.tpl-form-no-bg(data-date-format="yyyy-mm-dd hh:ii",readonly="",name="recordDate",required,value="#{accountBook.recordTime}")
                  small 记住时间很重要哦~~~
              .am-form-group
                label.am-u-sm-3.am-form-label 账户
                .am-u-sm-9
                  select(data-am-selected,name="payType",value="#{accountBook.payType}")
                    option(value="现金",selected) 现金
                    option(value="信用卡") 信用卡
                    option(value="储蓄卡") 储蓄卡
                    option(value="支付宝") 支付宝
                    option(value="微信零钱") 微信零钱
              .am-form-group
                label.am-u-sm-3.am-form-label 备注
                .am-u-sm-9
                  textarea(rows="5",style="border:1px solid #ccc;",name="remarks",value="#{accountBook.remarks}")
              .am-form-group
                input(type="hidden",name="_csrf",value="#{_csrf}")
                .am-u-sm-9.am-u-sm-push-3
                  button.am-btn.am-btn-primary.tpl-btn-bg-color-success(type="submit") 更新
                  a.am-btn.am-btn-default.tpl-btn-bg-color-default(href="#{_base}/backend/accountBook") 取消
  #classifyPrompt.am-modal.am-modal-prompt
    .am-modal-dialog
      .am-modal-hd 请输入您要新增的分类:
      .am-modal-bd
        input.am-modal-prompt-input
      .am-modal-footer
        span.am-modal-btn.am-btn-default(data-am-modal-cancel,style="color:#fff;") 取消
        span.am-modal-btn.am-btn-secondary(data-am-modal-confirm,style="color:#fff;")  新增
