block js
  script(src="#{_base}/js/jquery.min.js")
  script(src="#{_base}/js/amazeui.min.js")
  script(src="#{_base}/js/amazeui.datatables.min.js")
  script(src="#{_base}/js/amazeui.datetimepicker.min.js")
  script(src="#{_base}/js/bluebird.min.js")
  script(src="#{_base}/js/dataTables.responsive.min.js")
  script(src="#{_base}/js/moment.js")
  script(src="#{_base}/js/app.js")
